#statusbar {
  width: 100%;
  height: 24px;
  background: #616161;
  display: flex;
}

iframe {
  position: fixed;
}

#drag-region {
  width: 100%;
  height: 100%;
	-webkit-app-region: drag;
}

#window-controls {
  display: inline-flex;
}

#mini, #close, #max{
  z-index: 1;
  height: 24px;
}

#statusbar.light-accent {
  background: #9E9E9E;
}

#toolbar {
  position: relative;
  display: flex;
	background: #9E9E9E;
	left: 0px;
	width: 100%;
	z-index: 3;
	height: 64px;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.37)
}

#toolbar > * {
  align-self: center;
}

#toolbar-title {
  font-family: "robotomedium";
  margin-left: 6px;
  font-size: 18pt;
}

#button-container {
  margin-left: auto;
  display: flex;
}

#button-container > .button {
  display: flex;
  min-width: 38px;
  justify-content: center;
}

#button-container > .button > a {
  margin-left: 6px;
}

#overflow-menu {
  height: 28px;
  margin-left: 10px;
  margin-right: 12px;
  cursor: pointer;
}

#dropdown-menu {
  z-index: 4;
  position: absolute;
  right: 2px;
  top: 2px;
  padding: 0px;
  visibility: hidden;
}

#dropdown-menu.active {
  visibility: visible;
}

#dropdown-menu-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  margin: 0 20px 0 14px;
}

#dropdown-menu-list > li {
  margin: 16px 0;
  height: 24px;
  line-height: 24px;
}

#dropdown-menu-list > li > img {
  margin-right: 10px;
  opacity: 0.7;
}

#dropdown-menu-list > li * {
  vertical-align: middle;
}


#overflow-close {
  z-index: 2;
  top: 0px;
  bottom: 0px;
  width: 100%;
  position: absolute;
  pointer-events: none;
}

#overflow-close.active {
  pointer-events: auto;
}

body {
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

iframe  {
  overflow: scroll;
  width: 100%;
  height: calc(100% - 88px);
  border: none;
}

.material-design-hamburger {
  width: 58px;
}

#version {
  color: #9a9a9a;
  font-weight: bold;
  margin-left: 24px;
}

#menu-list {
  margin-top: 0;
  font-family: "robotomedium";
  font-size: 14pt;
  padding-left: 0;
  padding-top: 0px;
  list-style-type: none;
}

#menu-list > li {
  padding-left: 24px;
  padding-right: 36px;
  line-height: 48px;
  height: 48px;
  opacity: 0.87;
}

#menu-list > li.active {
  background: rgba(0, 0, 0, 0.2);
  color: blue;
}

#menu-list > li > img {
  margin-bottom: 3px;
  vertical-align: middle;
  padding-right: 24px;
  opacity: 0.4;
}

#menu {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.37);
  position: absolute;
  height: 100%;
  background: #FFF;
  position: absolute;
  z-index: 2;
  left: -300px;
  transition: left 0.2s ease-in;
}

#menu.active {
  left: 0;
  transition: 0.2s ease-out;
}

#dim {
  z-index: 1;
  height: 100%;
  width: 100%;
  background: #000;
  position: absolute;
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
}

#dim.active {
  pointer-events: auto;
  opacity: 0.5;
}
