body {
  background: #111111;
  color: #ffffff;
}

.card {
  background: #151515;
}

.button {
  background: #182027;
}

.tooltip_enabled .tooltip_content {
  background: #151515;
}

textarea {
  background: #151515;
  color: inherit;
}

div.led {
  filter: saturate(60%);
  opacity: 0.1;
}

.led.blue {
  background: #01dcff;
}

.led.red {
  background: #ff0000;
}

.led.green {
  background: #00cc00;
}

.linedwrap {
  border: 1px solid #888888;
}

.item.info {
  background: #182027;
}

.item.warn {
  background: #423400;
}

.item.error {
  background: #2f0c0c;
}

/* manual pages */

a:link, a:visited, a:hover {
  color: #ff6800;
}

a:active {
 color: #005eff;
}

ul, ol {
  border-color: #447fbb;
}

code {
  background-color: #1f2429;
}

#nav-bar div img {
  filter: invert(1);
}
