h3 {
  margin: 0 0 12px 0;
}

#content {
  width: 300px;
  margin: 0 auto;
  padding-top: 12px;
  box-sizing: border-box;
}

#content > * {
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 8px 0;
}

.settings > * {
  margin-top: 6px;
}

select {
  margin-left: 10px;
}

.button {
  display: inline-block;
}
