h3 {
  margin: 0 0 12px 0;
}

#content {
  width: 300px;
  margin: 0 auto;
  padding-top: 8px;
  box-sizing: border-box;
}

#content > .card {
  width: 100%;
  box-sizing: border-box;
}

.settings > * {
  margin-top: 6px;
}

#starting-page {
  margin-left: 10px;
}
