* {
  box-sizing: border-box;
}

body {
  padding: 0;
}

table {
  padding: 0;
}

h1 {
  min-width: 80px;
}

#main {
  width: max-content;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 6px;
  margin: 0 auto;
}

#screen_container {
  display: inline-block;
}

#front_panel {
  width: 990px;
  display: inline-block;
  margin-right: 4px;
  vertical-align: top;
}

#screen_card {
  padding: 10px;
}

#screen {
  display: block;
  width: 512px;
  height: 512px;
  background: #000;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

#screen:fullscreen {
  cursor: none;
}

#front_panel > .card {
  padding-top: 2px;
  width: 100%;
  padding-bottom: 2px;
}

#controls > .button {
  display: inline-block;
}

#bus_controls > .button {
  display: inline-block;
}

#controls {
  display: flex;
  align-items: center;
}

#controls > .button {
  display: flex;
  min-width: 110px;
  justify-content: center;
}

#controls > .button > a {
  margin-left: 6px;
}

.button > img {
  width: 24px;
}

#clock-target {
  width: 80px;
}

#clock-actual {
  width: 80px;
}

#alu-lables {
  display: flex;
  padding-left: 5px;
}

#alu-lables > a {
  flex-grow: 1;
}

#boot_selectors > div {
  display: inline-block;
  width: 32%;
}

#ram-addr-mode-lables {
  display: flex;
  width: 88px;
}

#ram-addr-mode-lables > a {
  flex-grow: 1;
}

input[type="number"] {
  margin: 0;
  padding: 0;
  border: 2px solid rgb(238, 238, 238);
  box-sizing: border-box;
  width: 65px;
  max-height: 16px;
}

#clock-target, #clock-actual {
  -moz-appearance: textfield;
}

.led_row {
  height: 18px;

  float: left;
  position: relative;
}

.tooltip_enabled .tooltip_content {
  visibility: hidden;
  z-index: 1;
  background: #FAFAFA;
}

.tooltip_content {
  font-family: 'DejaVu Sans Mono';
  position: absolute;
  background: inherit;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  min-width: max-content;
}

.tooltip_enabled:hover .tooltip_content {
  visibility: visible;
}

.led {
  float: left; /* removes the spaces between elements caused by newlines in html*/
  border-radius: 50%;
  width: 18px;
  height: 18px;
  opacity: 0.2;
  margin-right: 4px;
}

.spacer {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.led_row > div.led.on {
  opacity: 1;
}

.led_row > div.led.red {
  background: red;
}

.led_row > div.led.green {
  background: green;
}

.led_row > div.led.blue {
  background: blue;
}

.led_row > div.led.blank {
  background: #b0b0b0;
}

.led_row > div.led.blank.on {
  opacity: 0.2;
}

h1 {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  font-size: 1.5em;
  background: #808080;
  color: #ffffff;
  padding: 0 0.25em;
  border-radius: 4px 0 0 0;
}

.panel {
  position: relative;
  box-sizing: border-box;
}

.panel > div {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  padding-right: 80px;
}

.label_col {
  text-align: right;
  width: 55px;
  padding-right: 5px;
}

#opcode_leds {
  float: right;
}

#opcodes {
  float: right;
}
