#logo {
  float: left;
  width: 202px;
  margin: -13px -8px 0 -2px;
}

#version-string {
  margin-top: 15px;
}

#version-string > div {
  display: inline;
}

#version-name {
  font-weight: bold;
}

#buttons {
  display: flex;
  margin-top: 20px
}

#buttons > div {
  flex-grow: 1;
}

#copyright {
  width: 200px;
}
