#main {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#cmp {
    background-color: #607DB8;
    color: #fff;
}

#run {
    background-color: #009688;
    color: #fff;
}

#name {
    border: 1px solid #C0C0C0;
    margin-right: 4px;
    float: right;
}

#prog-list {
    list-style: none;
    margin-left: -35px;
    line-height: 8px;
}
