#main {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

#log {
  border: 1px solid #C0C0C0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 324px;
  width: 397px;
}

form {
  margin-bottom: 10px;
}

#assemble {
  background-color: #607DB8;
  color: #fff;
}

#load {
  background-color: #009688;
  color: #fff;
}

#run {
  background-color: #607DB8;
  color: #fff;
}

#two-button {
  display: flex;
}

#two-button > div {
  flex-grow: 1;
}
