#main {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

#log {
  border: 1px solid #C0C0C0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 331px;
  width: 397px;
}

form {
  margin-bottom: 10px;
}

#assemble {
  background-color: #009688;
  color: #fff;
}

#two-button {
  display: flex;
}

#two-button > div {
  flex-grow: 1;
}

#run {
  background-color: #607DB8;
  color: #fff;
}

#compile {
  background-color: #607DB8;
  color: #fff;
}

#name {
  border: 1px solid #C0C0C0;
  float: right;
}

#toggles {
  float: left;
  display: inline;
  clear: none;
}

#auto {
  margin-top: 3px;
}

#debug {
  margin-top: 5px;
}
