body, html {
  font-family: "robotoregular";
  overflow-y: auto;
  font-size: 12pt;
  -webkit-user-select: text;
}

#main {
  /* margin-left: 8px; */
  margin-top: 2px;
  width: 100%;
}

#content {
  width: 996px;
  margin: 0 auto;
  float: none;
}

#ops {
	width: 100%;
}

#ops th, #ops td {
	border: 1px solid black;
	text-align: center;
}
