body, html {
  font-family: "robotoregular";
  overflow-y: auto;
  font-size: 12pt;
  -webkit-user-select: text;
}

#main {
  margin-top: 2px;
  width: 100%;
}

#content {
  max-width: 996px;
  padding: 14px 18px;
  margin: 0 auto;
  float: none;
}

#nav-bar {
  position: fixed;
  margin-bottom: 8px;
}

#nav-bar div {
  width: 24px;
  min-width: 0;
  padding-top: 10px;
  display: inline-block;
}

@media only screen and (max-width:1250px) {
  #nav-bar {
    width: 100%;
  }

  body {
    margin-left: 0;
    margin-right: 0;
  }

  #nav-bar {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }
}

.error {
  color: red;
  font-weight: bolder;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

code {
  font-family: monospace;
	padding: 3px 6px;
  background-color: #e1dede;
  display: inline-block;
  width: auto;
  border-radius: 3px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

pre {
  overflow-x: auto;
}

ul, ol {
  border-left: 5px solid;
}
